<body class="language-markup">
	<a name="0" id="0"></a>
	<div class="pl-main row-offcanvas row-offcanvas-right" >
    	<div class="sidebar-offcanvas" id="sidebar">
            <nav role="navigation" class="pl-menu">
            	<a class="block-link" href="/index.php">
            	    <span class="caret-left"></span>
            	    Project Portal
                </a>
            	<ul>
            	    <!--***REPEATER***-->
            		<template repeater='navRail' on='patterns'></template>
            	</ul>
            </nav>		
    	</div>

		<main role="main" class="offcanvas-body">
			<div class="pl-container">
				<header>
					<p class="pl-menu-toggle">
	            		<button type="button" class="navbar-toggle btn btn-primary btn-sm" data-toggle="offcanvas">
	            			<span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
	            		</button>
	          		</p>
					<!--<div class="project-logo">-->
					<!--	<img src="../../pattern-library/assets/images/portal-logo-bge-small.jpg" alt="BGE">-->
					<!--</div>-->
					<div class="pl-catalog">
						<div class="pl-title">
							<h2>Style Guide</h2>
						</div>
					</div>
				</header>

					<!--***REPEATER***-->
					<template repeater="colors" on="patterns/style-guide/colors"></template>
					
					<section class="system-icons">
						<h3>Icons</h3>
						<hr>
						<div class="icon-preview-row">
						    <!--***REPEATER***-->
							<template repeater="icons" on="patterns/style-guide/icons"></template>
						</div>
					</section>
				</div>
			</main>
		
			<div class="pl-container">
			<footer class="pl-footer" role="footer">		
                <p>&copy; <span id="currentYear"></span> Exelon Corporation</p>
			</footer>
		</div>
	</div>
	<a href="#0" class="cd-top">Top</a>
</body>
