.pl-logo {
  width: 185px;
  height: 40px;
  margin: 15px 0;
  background: url(../images/exelon-logo.png) center no-repeat;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.pl-band.top {
  border-bottom: 1px solid #ccc; }
.pl-band.bottom {
  background: #2372b9;
  background-image: -webkit-linear-gradient(left, #126eb7 0%, #00aeef 100%);
  background-image: -o-linear-gradient(left, #126eb7 0%, #00aeef 100%);
  background-image: linear-gradient(to right, #126eb7 0%, #00aeef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF126EB7', endColorstr='#FF00AEEF', GradientType=1);
  padding-top: 30px;
  padding-bottom: 45px; }
  .pl-band.bottom h1, .pl-band.bottom h2 {
    color: white; }

@media (min-width: 768px) {
  .pl-band.bottom {
    text-align: right; } }
.portal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0 10px;
  background-color: #eee;
  border-top: 1px solid #ddd; }

.pl-footer {
  position: relative;
  padding: 20px 0 10px;
  border-top: 1px solid #eee;
  margin-top: 4em; }

.pl-portal-wrapper {
  margin-left: -2.5px;
  margin-right: -2.5px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .pl-portal-wrapper:before, .pl-portal-wrapper:after {
    content: " ";
    display: table; }
  .pl-portal-wrapper:after {
    clear: both; }
  @media (min-width: 1024px) {
    .pl-portal-wrapper {
      margin-left: -15px;
      margin-right: -15px; } }

.pl-portal {
  position: relative;
  min-height: 1px;
  padding-left: 3px;
  padding-right: 2px; }
  @media (min-width: 768px) {
    .pl-portal {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1024px) {
    .pl-portal {
      float: left;
      width: 33.33333%; } }
  .pl-portal a {
    display: block;
    border: 1px solid #eee;
    border-bottom: 0;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .4s ease; }
  .pl-portal img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; }
  .pl-portal span {
    display: block;
    text-align: center;
    background: #2372b9;
    border-bottom: 2px solid #1b588e;
    color: white;
    padding: 7px 0;
    margin-right: -1px;
    margin-left: -1px;
    font-family: "Open-Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .03em;
    border-top: 1px solid #ddd;
    transition: all .4s ease; }
  .pl-portal:hover a {
    text-decoration: none;
    border-color: #ddd; }
  .pl-portal:hover span {
    background: #00aeef;
    border-bottom: 2px solid #009bd6; }

.pl-main {
  padding-bottom: 60px; }
  .pl-main > h2 {
    color: #66b360; }
  .pl-main > section {
    padding-left: 15px;
    padding-right: 15px;
    margin: 4em 0; }
    .pl-main > section > h2, .pl-main > section > h3, .pl-main > section > h4 {
      color: #555555; }

.pl-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.project-logo img {
  width: 200px;
  height: auto; }

@media (min-width: 768px) {
  .pl-container {
    padding-right: 215px; } }
.block-link {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #666;
  color: white; }
  .block-link:hover {
    color: white;
    text-decoration: none;
    background-color: gray; }

/* Moved .caret-left to _shapes.scss */
.pl-menu {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #eee;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden; }
  .pl-menu ul {
    padding: 0; }
  .pl-menu li {
    list-style-type: none; }
    .pl-menu li a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd; }
      .pl-menu li a:hover {
        background-color: #66b360;
        color: white;
        text-decoration: none; }
      .pl-menu li a.active {
        background-color: white; }
        .pl-menu li a.active:hover {
          background-color: #66b360;
          color: white;
          text-decoration: none; }

.pl-menu-toggle {
  margin: 0; }

.pl-menu-toggle .navbar-toggle {
  margin-top: 30px;
  background-color: #66b360; }

.pl-menu-toggle .icon-bar {
  background-color: #fff; }

@media (min-width: 768px) {
  .pl-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px; }

  .pl-menu-toggle {
    display: none; } }
@media (max-width: 767px) {
  .pl-dropdown .btn {
    width: 100%; }
  .pl-dropdown .dropdown-menu {
    position: relative;
    float: none;
    min-width: 100%; } }
.pl-catalog {
  border-top: 1px solid #eee; }
  .pl-catalog:before, .pl-catalog:after {
    content: " ";
    display: table; }
  .pl-catalog:after {
    clear: both; }
  .pl-catalog > div {
    position: relative;
    min-height: 1px;
    padding-left: 3px;
    padding-right: 2px; }
    @media (min-width: 768px) {
      .pl-catalog > div {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 768px) {
      .pl-catalog > div {
        float: left;
        width: 50%; } }
    .pl-catalog > div.pl-title {
      padding-left: 0;
      padding-right: 0; }
  .pl-catalog h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px; }
  .pl-catalog .dropdown {
    margin-top: 20px;
    margin-bottom: 20px; }

@media (min-width: 768px) {
  .pl-toc .dropdown {
    float: right; }

  .pl-toc .dropdown-menu {
    left: auto;
    right: 0; } }
.primary-colors,
.font-specimens,
.grid-demo {
  margin-top: 4em; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
    height: 100%; } }
.pattern {
  margin-top: 4em;
  padding: 1em; }

details.primer {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 1em 0;
  font-size: 16px; }

summary {
  outline: 0; }

summary:hover {
  cursor: pointer; }

details.primer section {
  padding: 0.5em 0;
  margin: 1em 0;
  overflow: hidden; }

details.primer p.caption {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 15px; }

details.primer p.caption strong {
  display: block;
  margin-bottom: 5px; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(33, 33, 33, 0.8) url(../images/cd-top-arrow.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }
.color-wrapper {
  margin-left: -2.5px;
  margin-right: -2.5px; }
  .color-wrapper:before, .color-wrapper:after {
    content: " ";
    display: table; }
  .color-wrapper:after {
    clear: both; }
  @media (min-width: 1024px) {
    .color-wrapper {
      margin-left: -15px;
      margin-right: -15px; } }

.color-card {
  position: relative;
  min-height: 1px;
  padding-left: 3px;
  padding-right: 2px; }
  @media (min-width: 768px) {
    .color-card {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1024px) {
    .color-card {
      float: left;
      width: 16.66667%; } }

.brand {
  width: 100%;
  height: 100px;
  margin: 0 auto 15px; }
  .brand.primary {
    background-color: #66b360; }
  .brand.primary-dark {
    background-color: #5ca156; }
  .brand.primary-darker {
    background-color: #528f4d; }
  .brand.background-dark {
    background-color: #000; }
  .brand.background-light {
    background-color: #ddd; }
  .brand.background-lighter {
    background-color: #eeeeee; }
  .brand.error {
    background-color: #ffa1a2; }
  .brand.alert {
    background-color: #ffe9a7;
    border-radius: 0; }
  .brand.icons-dark-bg {
    background-color: #fff;
    border: 1px solid black; }
  .brand.icons-light-bg {
    background-color: #666; }

.icon-preview-row {
  margin-left: -30px;
  margin-right: -30px; }

.icon-preview {
  width: 400px;
  display: inline-block;
  vertical-align: bottom;
  padding: 30px;
  text-align: center; }
  .icon-preview h4 {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee; }
  .icon-preview i {
    font-size: 48px;
    display: block;
    padding: 20px 0; }

.open-sans {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 60px; }
  .open-sans.semibold {
    font-weight: 600; }
  .open-sans.extrabold {
    font-weight: 800; }
    .open-sans.extrabold .specimen {
      text-transform: uppercase; }

.specimen {
  font-size: 32px;
  line-height: 41px; }
  .specimen:first-of-type {
    text-transform: uppercase; }

.grid-wrap:before, .grid-wrap:after {
  content: " ";
  display: table; }
.grid-wrap:after {
  clear: both; }
.grid-wrap .col-md-1.demo-column {
  background-color: #80d6f7;
  height: 250px; }
.grid-wrap .col-md-1.demo-column:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background-color: #cdeffb; }
.grid-wrap.desktop {
  margin-bottom: 100px; }
.grid-wrap.mobile {
  max-width: 640px;
  background-color: #80d6f7;
  padding-right: 30px;
  padding-left: 30px; }
  .grid-wrap.mobile .demo-column {
    padding-left: 2.5px;
    padding-right: 2.5px; }
    .grid-wrap.mobile .demo-column:before {
      left: 2.5px;
      right: 2.5px; }

.grid-info {
  text-align: center;
  color: #aaaaaa;
  position: relative; }
  .grid-info.mobile {
    max-width: 640px; }

p.grid-info:before {
  content: "";
  width: 100%;
  border-top: 1px solid #c4c4c4;
  display: block;
  margin-bottom: -10px; }

p.grid-info:after {
  content: "";
  width: 100%;
  border: 1px solid #c4c4c4;
  border-bottom: 0;
  border-top: 0;
  display: block;
  height: 15px;
  position: absolute;
  bottom: 2px; }

.grid-info span {
  padding: 0 10px;
  background-color: white; }

.margin,
.gutter,
.column {
  position: absolute;
  bottom: -45px;
  left: 0;
  text-align: center;
  display: block;
  font-size: 12px;
  text-indent: -6px;
  color: #aaaaaa; }

span.margin:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #c4c4c4;
  height: 15px;
  width: 15px;
  border-top: 0;
  border-bottom: 0;
  top: -20px;
  left: -1px; }

span.margin:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #c4c4c4;
  width: 15px;
  top: -13px;
  left: -1px; }

span.column {
  width: 100%; }
  span.column:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #c4c4c4;
    height: 15px;
    border-top: 0;
    border-bottom: 0;
    top: -20px;
    left: 15px;
    right: 15px; }
  span.column:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    top: -13px;
    left: 15px;
    right: 15px; }

span.gutter {
  left: auto;
  right: -18px;
  width: 30px;
  text-align: center; }
  span.gutter:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #c4c4c4;
    height: 15px;
    border-top: 0;
    border-bottom: 0;
    top: -20px;
    left: -3px;
    right: 3px; }
  span.gutter:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    top: -13px;
    left: -3px;
    right: 3px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 1024px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 768px) {
    .container {
      width: 100%;
      max-width: 1200px; } }
  @media (min-width: 1024px) {
    .container {
      width: 100%;
      max-width: 1200px; } }
  @media (min-width: 1200px) {
    .container {
      width: 100%;
      max-width: 1200px; } }

.pattern .exc-account-edit {
  display: none; }

/*# sourceMappingURL=pl.bge.css.map */